// html {
//     scroll-snap-type: y proximity;
//     //    scroll-snap-type: y mandatory;
//     scroll-padding: 55px;

//     #overall-content {
//         overflow: initial;
//     }

//     #topbar {
//         scroll-snap-align: start;
//     }

//     #left-side .whiteblock.debug_section,
//     #overall-footer {
//         scroll-snap-align: start;
//     }
// }

#coalbaron-main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    #coalbaron-resizable-board {
        // scroll-snap-align: start;
        width: calc(var(--boardScale) * 1650px);
        height: calc(var(--boardScale) * 665px);
        margin-bottom: 10px;
    }

    #coalbaron-board {
        width: 1650px;
        height: 665px;
        transform: scale(var(--boardScale));
        transform-origin: top left;
        background-image: url("img/board.jpg");
        background-size: 100% auto;
        background-repeat: no-repeat;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 1px 1px 10px black;
        position: relative;

        display: flex;
        flex-wrap: wrap;

        .board-space {
            width: 100px;
            height: 115px;
            margin: 10px;
            background: rgba(204, 204, 204, 0.8);
            position: absolute;
            top: 400px;
            box-shadow: 1px 1px 5px 1px black;
            border-radius: 7px;

            &.disabled {
                opacity: 0.2;
            }

            &.selectable {
                cursor: pointer;
                background: rgba(242, 125, 125, 0.55);

                &:hover {
                    background: rgba(242, 125, 125, 0.65);
                }
            }
            &.selected,
            &.selected:hover {
                background: rgba(122, 252, 62, 0.55);
            }

            &::before {
                content: "";
                position: absolute;
                top: -5px;
                left: -8px;
                right: -8px;
                bottom: -5px;
                border: 1px solid transparent;
                border-image-slice: 64 88 64 88;
                border-image-width: 20px 20px 20px 20px;
                border-image-outset: 0px 0px 0px 0px;
                border-image-repeat: stretch stretch;
                border-image-source: url("img/frame.png");
                pointer-events: none;
            }

            .space-workers-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                box-sizing: border-box;
            }

            &#factory_1,
            &#factory_2,
            &#factory_3,
            &#factory_4,
            &#factory_5,
            &#factory_6,
            &#factory_7,
            &#factory_8 {
                width: 140px;
                height: 250px;
                .space-title-container {
                    position: absolute;
                    width: 105px;
                    height: 46px;
                    bottom: -14px;
                    left: 17px;
                    &::before {
                        background-position: 33.3333% 100%;
                    }
                }

                .space-tile-container {
                    height: 140px;
                    border-bottom: 1px solid black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .space-workers-container {
                    height: 109px;
                    padding-bottom: 25px;
                }
            }
            &#factory_5,
            &#factory_6,
            &#factory_7,
            &#factory_8 {
                .space-title-container {
                    position: absolute;
                    top: -14px;
                    bottom: auto;
                }

                .space-tile-container {
                    border-bottom: none;
                    border-top: 1px solid black;
                }

                .space-workers-container {
                    padding-bottom: 0px;
                    padding-top: 25px;
                }
            }

            &#factory_1 {
                top: 0px;
                left: -2px;
            }
            &#factory_2 {
                top: 0px;
                left: 156px;
            }
            &#factory_3 {
                top: 0px;
                left: 314px;
            }
            &#factory_4 {
                top: 0px;
                left: 472px;
            }
            &#factory_5 {
                top: 395px;
                left: -2px;
            }
            &#factory_6 {
                top: 395px;
                left: 156px;
            }
            &#factory_7 {
                top: 395px;
                left: 314px;
            }
            &#factory_8 {
                top: 395px;
                left: 472px;
            }
            &#factory_draw {
                width: 178px;
                height: 100px;
                left: 13px;
                top: 270px;

                .space-title-container {
                    position: absolute;
                    transform: rotate(-90deg);
                    left: 158px;
                    transform-origin: top left;
                    top: 100px;

                    &::before {
                        background-position: 66.6666% 100%;
                    }
                }

                .space-workers-container {
                    height: 100%;
                    padding-right: 10px;
                }
            }

            &#mining_4,
            &#mining_6,
            &#mining_8,
            &#mining_10 {
                top: 80px;
                .space-title-container {
                    position: absolute;
                    top: -12px;
                }

                .space-workers-container {
                    height: 100%;
                    padding-top: 25px;
                }
            }
            &#mining_4 {
                left: 650px;
                .space-title-container::before {
                    background-position: 0% 0%;
                }
            }
            &#mining_6 {
                left: 780px;
                .space-title-container::before {
                    background-position: 33.3333% 0%;
                }
            }
            &#mining_8 {
                left: 900px;
                .space-title-container::before {
                    background-position: 66.6666% 0%;
                }
            }
            &#mining_10 {
                left: 1020px;
                .space-title-container::before {
                    background-position: 100% 0%;
                }
            }

            &#bank_3,
            &#bank_4,
            &#bank_5,
            &#bank_6 {
                top: 0px;
                .space-title-container {
                    position: absolute;
                    top: -12px;
                }

                .space-workers-container {
                    height: 100%;
                    padding-top: 25px;
                }
            }
            &#bank_3 {
                left: 1160px;
                .space-title-container::before {
                    background-position: 0% 33.3333%;
                }
            }
            &#bank_4 {
                left: 1280px;
                .space-title-container::before {
                    background-position: 33.3333% 33.3333%;
                }
            }
            &#bank_5 {
                left: 1400px;
                .space-title-container::before {
                    background-position: 66.6666% 33.3333%;
                }
            }
            &#bank_6 {
                left: 1520px;
                .space-title-container::before {
                    background-position: 100% 33.3333%;
                }
            }

            &#delivery_1,
            &#delivery_2,
            &#delivery_3,
            &#delivery_4 {
                .space-title-container {
                    position: absolute;
                    top: -12px;
                }
                top: 530px;

                .space-workers-container {
                    height: 100%;
                    padding-top: 25px;
                }
            }
            &#delivery_1 {
                left: 630px;
                .space-title-container::before {
                    background-position: 33.3333% 66.6666%;
                }
            }
            &#delivery_2 {
                left: 748px;
                .space-title-container::before {
                    background-position: 66.6666% 66.6666%;
                }
            }
            &#delivery_3 {
                left: 866px;
                .space-title-container::before {
                    background-position: 100% 66.6666%;
                }
            }
            &#delivery_4 {
                left: 984px;
                .space-title-container::before {
                    background-position: 0% 100%;
                }
            }

            &#order_1,
            &#order_2,
            &#order_3,
            &#order_4 {
                top: 375px;
                width: 120px;
                height: 270px;
                .space-title-container {
                    position: absolute;
                    top: -12px;
                    left: 8px;
                }
                .space-title-container::before {
                    background-position: 0% 66.6666%;
                }

                .space-workers-container {
                    height: 100px;
                    padding-top: 25px;
                    border-bottom: 1px solid black;
                }

                .space-order-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 168px;
                }

                .coalbaron-card {
                    width: 100px;
                    height: 154px;
                }
            }
            &#order_1 {
                left: 1101px;
            }
            &#order_2 {
                left: 1238px;
            }
            &#order_3 {
                left: 1375px;
            }
            &#order_4 {
                left: 1510px;
            }

            &#order_draw {
                top: 233px;
                left: 1300px;
                width: 120px;
                height: 120px;
                .space-title-container {
                    position: absolute;
                    top: -12px;
                    left: 10px;
                }
                .space-title-container::before {
                    background-position: 100% 100%;
                }

                .space-workers-container {
                    height: 100%;
                    padding-top: 25px;
                }
            }

            &#canteen,
            &#bank_1 {
                top: 360px;
                left: 708px;
                width: 300px;
                height: 150px;
                background: none;
                box-shadow: none;
                display: flex;
                justify-content: center;
                align-items: center;

                &::before {
                    display: none;
                }

                .space-workers-container {
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgba(204, 204, 204, 0.8);
                    border: 1px solid black;
                    border-radius: 5px;

                    &:empty {
                        background: none;
                        border: none;
                    }
                }
            }

            &#bank_1 {
                top: 112px;
                left: 1324px;

                &.selectable {
                    .space-workers-container {
                        min-height: 58px;
                        min-width: 50px;

                        cursor: pointer;
                        background: rgba(242, 125, 125, 0.55);
                        border: 1px solid black;

                        &:hover {
                            background: rgba(242, 125, 125, 0.65);
                        }
                    }
                }

                &.selected,
                &.selected:hover {
                    .space-workers-container {
                        background: rgba(122, 252, 62, 0.55);
                    }
                }
            }

            .space-title-container {
                width: 100px;
                height: 40px;
                background-image: url("img/frame-title.png");
                background-size: 100% auto;
                background-repeat: no-repeat;

                display: flex;
                justify-content: center;
                align-items: center;

                &::before {
                    content: "";
                    display: inline-block;
                    width: 70px;
                    height: 36px;

                    background-image: url("img/frame-titles.png");
                    background-size: 400% 400%;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}
