#coalbaron-main-container {
    #coalbaron-board {
        width: 1650px;
        height: 786px;
        background-image: url("img/board.jpg");
        background-size: 100% auto;
        background-repeat: no-repeat;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 1px 1px 10px black;
        position: relative;

        display: flex;
        flex-wrap: wrap;

        .board-space {
            width: 100px;
            height: 100px;
            // width: 160px;
            // height: 200px;
            margin: 10px;
            background: rgba(255, 255, 255, 0.548);
            position: absolute;
            top: 400px;
            box-shadow: 1px 1px 5px 1px black;
            border-radius: 7px;

            &.disabled {
                opacity: 0.4;
            }

            &.selectable {
                cursor: pointer;
                background: rgba(242, 125, 125, 0.55);

                &:hover {
                    background: rgba(242, 125, 125, 0.65);
                }
            }
            &.selected,
            &.selected:hover {
                background: rgba(122, 252, 62, 0.55);
            }

            &::before {
                content: "";
                position: absolute;
                top: -5px;
                left: -8px;
                right: -8px;
                bottom: -5px;
                border: 1px solid transparent;
                border-image-slice: 64 88 64 88;
                border-image-width: 20px 20px 20px 20px;
                border-image-outset: 0px 0px 0px 0px;
                border-image-repeat: stretch stretch;
                border-image-source: url("img/frame.png");
                pointer-events: none;
            }

            .space-workers-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &#factory_1,
            &#factory_2,
            &#factory_3,
            &#factory_4,
            &#factory_5,
            &#factory_6,
            &#factory_7,
            &#factory_8 {
                width: 140px;
                height: 250px;
                .space-title-container {
                    position: absolute;
                    width: 105px;
                    height: 46px;
                    bottom: -14px;
                    left: 17px;
                    &::before {
                        background-position: 33.3333% 100%;
                    }
                }

                .space-tile-container {
                    height: 140px;
                    border-bottom: 1px solid black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .space-workers-container {
                    height: 109px;
                }
            }
            &#factory_5,
            &#factory_6,
            &#factory_7,
            &#factory_8 {
                .space-title-container {
                    position: absolute;
                    top: -14px;
                    bottom: auto;
                }

                .space-tile-container {
                    border-bottom: none;
                    border-top: 1px solid black;
                }
            }

            &#factory_1 {
                top: 0px;
                left: 0px;
            }
            &#factory_2 {
                top: 0px;
                left: 160px;
            }
            &#factory_3 {
                top: 0px;
                left: 320px;
            }
            &#factory_4 {
                top: 0px;
                left: 480px;
            }
            &#factory_5 {
                top: 470px;
                left: 0px;
            }
            &#factory_6 {
                top: 470px;
                left: 160px;
            }
            &#factory_7 {
                top: 470px;
                left: 320px;
            }
            &#factory_8 {
                top: 470px;
                left: 480px;
            }
            &#factory_draw {
                width: 100px;
                height: 140px;
                left: 20px;
                top: 280px;

                .space-title-container {
                    position: absolute;
                    transform: rotate(-90deg);
                    left: 73px;
                    transform-origin: top left;
                    top: 120px;

                    &::before {
                        background-position: 66.6666% 100%;
                    }
                }
            }

            &#mining_4,
            &#mining_6,
            &#mining_8,
            &#mining_10 {
                top: 80px;
                .space-title-container {
                    position: absolute;
                    top: -12px;
                }
            }
            &#mining_4 {
                left: 660px;
                .space-title-container::before {
                    background-position: 0% 0%;
                }
            }
            &#mining_6 {
                left: 780px;
                .space-title-container::before {
                    background-position: 33.3333% 0%;
                }
            }
            &#mining_8 {
                left: 900px;
                .space-title-container::before {
                    background-position: 66.6666% 0%;
                }
            }
            &#mining_10 {
                left: 1020px;
                .space-title-container::before {
                    background-position: 100% 0%;
                }
            }

            &#bank_3,
            &#bank_4,
            &#bank_5,
            &#bank_6 {
                top: 0px;
                .space-title-container {
                    position: absolute;
                    top: -12px;
                }
            }
            &#bank_3 {
                left: 1160px;
                .space-title-container::before {
                    background-position: 0% 33.3333%;
                }
            }
            &#bank_4 {
                left: 1280px;
                .space-title-container::before {
                    background-position: 33.3333% 33.3333%;
                }
            }
            &#bank_5 {
                left: 1400px;
                .space-title-container::before {
                    background-position: 66.6666% 33.3333%;
                }
            }
            &#bank_6 {
                left: 1520px;
                .space-title-container::before {
                    background-position: 100% 33.3333%;
                }
            }

            &#delivery_1,
            &#delivery_2,
            &#delivery_3,
            &#delivery_4 {
                .space-title-container {
                    position: absolute;
                    top: -12px;
                }
                top: 580px;
            }
            &#delivery_1 {
                left: 640px;
                .space-title-container::before {
                    background-position: 33.3333% 66.6666%;
                }
            }
            &#delivery_2 {
                left: 760px;
                .space-title-container::before {
                    background-position: 66.6666% 66.6666%;
                }
            }
            &#delivery_3 {
                left: 880px;
                .space-title-container::before {
                    background-position: 100% 66.6666%;
                }
            }
            &#delivery_4 {
                left: 1000px;
                .space-title-container::before {
                    background-position: 0% 100%;
                }
            }

            &#order_1,
            &#order_2,
            &#order_3,
            &#order_4 {
                top: 450px;
                width: 120px;
                height: 270px;
                .space-title-container {
                    position: absolute;
                    top: -12px;
                    left: 8px;
                }
                .space-title-container::before {
                    background-position: 0% 66.6666%;
                }
            }
            &#order_1 {
                left: 1120px;
            }
            &#order_2 {
                left: 1260px;
            }
            &#order_3 {
                left: 1380px;
            }
            &#order_4 {
                left: 1520px;
            }

            &#order_draw {
                top: 300px;
                left: 1300px;
                width: 120px;
                height: 120px;
                .space-title-container {
                    position: absolute;
                    top: -12px;
                    left: 10px;
                }
                .space-title-container::before {
                    background-position: 100% 100%;
                }
            }

            &#canteen,
            &#bank_1 {
                top: 280px;
                left: 275px;
                width: 300px;
                height: 150px;
                background: none;
                box-shadow: none;
                &::before {
                    display: none;
                }
            }

            &#bank_1 {
                top: 112px;
                left: 1324px;
            }

            .space-title-container {
                width: 100px;
                height: 40px;
                background-image: url("img/frame-title.png");
                background-size: 100% auto;
                background-repeat: no-repeat;

                display: flex;
                justify-content: center;
                align-items: center;

                &::before {
                    content: "";
                    display: inline-block;
                    width: 70px;
                    height: 36px;

                    background-image: url("img/frame-titles.png");
                    background-size: 400% 400%;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}
