#coalbaron-player-boards-container {
    .coalbaron-board {
        margin: 5px 0px;
        width: 1650px;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 1px 1px 10px black;
        background-color: #d5a257;

        // background-image: url("img/board.jpg");
        // background-size: 100% auto;
        // background-repeat: no-repeat;

        position: relative;
        display: flex;

        .player-name {
            position: absolute;
        }

        .board-left-side {
            flex-grow: 1;
            display: flex;
            flex-flow: column;

            .completed-orders {
                height: 223px;
                background: red;
            }
            .left-pit {
                .pit-level {
                    height: 136px;
                    display: flex;
                    justify-content: flex-end;
                    position: relative;

                    .pit-tile {
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        right: -69px;
                        top: 20px;
                        z-index: 2;
                    }

                    .coalbaron-tile {
                        width: 123px;
                        height: 136px;
                        box-shadow: none;
                        border: none;
                        flex-shrink: 0;
                    }
                }
            }
        }
        .board-right-side {
            flex-grow: 1;
            display: flex;
            flex-flow: column;
            .pending-orders {
                height: 223px;
                display: flex;
                flex-flow: row;
                align-items: center;
                padding: 0px 5px;
                .coalbaron-card {
                    margin: 2px 5px;
                }
            }
            .right-pit {
                .pit-level {
                    height: 136px;
                    display: flex;
                    position: relative;

                    .pit-tile {
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        left: -63px;
                        top: 22px;
                    }

                    .coalbaron-tile {
                        width: 123px;
                        height: 136px;
                        box-shadow: none;
                        border: none;
                        flex-shrink: 0;
                    }
                }
            }
        }
        .board-elevator {
            width: 400px;
            height: 837px;
            flex-shrink: 0;
            background-image: url("img/player-board.jpg");
            background-size: 100% auto;
            background-repeat: no-repeat;
            position: relative;

            .storage {
                position: absolute;
                right: 2px;
                top: 83px;
                height: 113px;
                width: 120px;
                display: flex;
                border: 1px solid transparent;
                justify-content: center;
                align-items: flex-end;
                flex-wrap: wrap;

                &.selectable {
                    border: 1px solid black;
                    border-radius: 5px;
                    background: #ff00006b;
                    cursor: pointer;

                    &:hover {
                        background: #ff0000aa;
                    }
                }
            }

            .elevator {
                position: absolute;
                width: 110px;
                height: 142px;
                background-image: url("img/elevator.jpg");
                background-size: 100% auto;
                background-repeat: no-repeat;
                left: 141px;
                transition: top 0.8s;
                z-index: 10;

                &[data-y="0"] {
                    top: 90px;
                }
                &[data-y="1"] {
                    top: 215px;
                }
                &[data-y="2"] {
                    top: 342px;
                }
                &[data-y="3"] {
                    top: 484px;
                }
                &[data-y="4"] {
                    top: 622px;
                }

                .coalbaron-meeple {
                    position: absolute;

                    &:nth-child(1) {
                        top: 8px;
                        left: 36px;
                    }
                    &:nth-child(2) {
                        top: 40px;
                        left: 18px;
                    }
                    &:nth-child(3) {
                        top: 40px;
                        left: 53px;
                    }
                    &:nth-child(4) {
                        top: 75px;
                        left: 18px;
                    }
                    &:nth-child(5) {
                        top: 75px;
                        left: 53px;
                    }
                }
            }

            .elevator-level {
                width: 90px;
                height: 120px;
                position: absolute;
                left: 150px;
                border: 1px solid transparent;

                &.selectable {
                    border: 1px solid black;
                    border-radius: 5px;
                    background: #ff00006b;
                    cursor: pointer;

                    &:hover {
                        background: #ff0000aa;
                    }
                }

                &.level-0 {
                    top: 90px;
                }
                &.level-1 {
                    top: 215px;
                }
                &.level-2 {
                    top: 342px;
                }
                &.level-3 {
                    top: 484px;
                }
                &.level-4 {
                    top: 622px;
                }
            }
        }
    }
}
