.coalbaron-player-infos {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    justify-content: space-around;
    position: relative;
    padding: 0.5rem 0;

    .player-resource {
        margin: 4px 0px;
        position: relative;
        flex-basis: 25%;
        text-align: center;
        .reserve {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            & > div.coalbaron-meeple:not(.moving) {
                display: none;
            }
        }
    }
}
